body {
  background-color: white;
  font-family: verdana, sans-serif;
  color: rgb(48, 47, 47);
}

.main {
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 50px;
}

h1 {
  font-size: 50px;
}

.controls {
  margin-top: 30px;
}

.myButton {
  margin-top: 20px;
  padding: 13px 32px;
  font-size: 20px;
}

.checkBox {
  margin-left: 40px; 
}

.gameBoard {
  margin-top: 40px;
}

.row {
  font-size: 0px;
}

.row > div {
  display: inline-block;
  font-size: 100px;
/*   border: solid 1px white; */
  width: 180px;
  height: 180px;
  text-align: center;
  vertical-align: top;
  line-height: 180px;
}

.right {
  border-right: solid 5px rgb(182, 224, 184);
}

.bottom {
  border-bottom: solid 5px rgb(182, 224, 184);
}

.reset {
  margin-top: 100px;
}